MYSQL_ROOT_PASSWORD=replace_with_a_strong_root_password
REF_READER_PASSWORD=replace_with_a_strong_reader_password
DASHSCOPE_API_KEY=replace_with_your_model_api_key
MYSQL_HOST_PORT=13306
BACKEND_HOST_PORT=18765
FRONTEND_HOST_PORT=18080
